Source: xeke
Section: utils
Priority: optional
Maintainer: Michael Edirin <edirin@xeke.tech>
Uploaders: Michael Edirin <edirin@xeke.tech>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.47),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.47),
 libboost-test1.48-dev | libboost-test-dev (>> 1.47),
 libminiupnpc8-dev | libminiupnpc-dev,
 qt4-qmake, libqt4-dev,
 qttools5-dev-tools, qttools5-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python,
 libzmq3-dev
Standards-Version: 3.9.2
Homepage: https://www.xeke.tech/
Vcs-Git: git://github.com/xekepay/xeke.git
Vcs-Browser: https://github.com/xekepay/xeke

Package: xeked
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Xeke is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world and its a fork of Xeke. Xeke uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Xeke Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, xeked, and the CLI tool
 xeke-cli to interact with the daemon.

Package: xeke-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Xeke is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. Xeke uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Xeke Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides Xeke-Qt, a GUI for Xeke based on Qt.

Package: xeke-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 Xeke is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. Xeke uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Xeke Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides xeke-tx, a command-line transaction creation
 tool which can be used without a xeke daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
